DATABASE_URL=postgresql://postgres.ogxvfdmkkszbwwmwtyue:ayodele3579@aws-1-eu-west-1.pooler.supabase.com:5432/postgres

REDIS_URL=redis://default:yjgLl5SUWYxcRhgzWJOVpMkkhGYDpAzO@redis-16685.c85.us-east-1-2.ec2.redns.redis-cloud.com:16685/0

JWT_SECRET_KEY=ayodele3579
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=60
JWT_REFRESH_TOKEN_EXPIRE_DAYS=7


SUPABASE_URL=https://ogxvfdmkkszbwwmwtyue.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9neHZmZG1ra3N6Ynd3bXd0eXVlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjU4NjIyNjUsImV4cCI6MjA4MTQzODI2NX0.xYaUkWCPp3FGDJ36b_w7gN1eNR6QFVLb2ZKu1e9CvUU

AUTH_SERVICE_PORT=8081
USER_SERVICE_PORT=8082
BOOKING_SERVICE_PORT=8083
PAYMENTS_SERVICE_PORT=8084
TICKETING_SERVICE_PORT=8085
PAYOUTS_SERVICE_PORT=8086
DRIVER_SERVICE_PORT=8091
MATCHMAKING_SERVICE_PORT=8092
SEARCH_SERVICE_PORT=8093
NOTIFICATION_SERVICE_PORT=8094
ANALYTICS_SERVICE_PORT=8095
FLEET_SERVICE_PORT=8096

# Derived for Java Services
JDBC_DATABASE_URL=jdbc:postgresql://aws-1-eu-west-1.pooler.supabase.com:5432/postgres?user=postgres.ogxvfdmkkszbwwmwtyue&password=ayodele3579&ssl=true

# For Matchmaking Service
SECRET_KEY=ayodele3579
USER_SERVICE_URL=http://user-service:8082
DRIVER_SERVICE_URL=http://driver-service:8091
